#containerWapper {
  margin: 0 auto !important;
  padding: 0;
}

#headerTop > .row {
  color: #fff;
  background: #3579fe;
  position: relative;
  height: 38px;
}

.h6, h6 {
  font-size: 1rem;
  margin: 0;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  background: #eee;
  padding: 8px 0;
}

.area-alert {
  font-size: 12px;
  text-align: center;
  padding: 1px 6px;
  background: rgba(75, 67, 94, 0.4);
  border-radius: 14px;
  position: relative;
  top: 14px;
  margin: 0 30% 14px;
}

.area-alert > a {
  color: #fff;
  font-weight: 600;
  display: block;
}

#nav-wrapper {
  background: #eee;
}

#talkFeild {
  background: #f8f8f8;
}

#area-alert-mb {
  margin-bottom: 32px;
  height: 92vh;
}

.user-talk {
  border: none;
}

#area-alert-mb, .user-talk {
  background: #e4e8f3;
}

.talk-bubble, .talk-bubble-me {
  margin-bottom: 8px;
  max-width: 240px;
}

.talk-bubble {
  border-radius: 0 18px 18px;
  background: #fff;
}

.talk-bubble-me {
  border-radius: 18px 0 18px 18px;
  background: #c8d3f7;
}

#bottom-wrapper {
  background: #fff;
  padding: 0;
  /* border-top: 1px solid #ccc; */
  width: 1142px;
  margin-left: 50%;
  transform: translate(-50%);
}

#bottom-wrapper > .container {
  padding: 0;
}

.navbarToggle {
  position: absolute;
  top: 5px;
  z-index: 3;
  border: none;
  border-radius: 0;
  background: #f1f1f1;
}

#send-input {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 30px;
  margin: 5px 0 5px 54px;
  padding-left: 20px;
  /* border-top: 1px solid #e4e8f3; */
}

.send-Btn {
  margin-top: 5px;
  border-radius: 0;
}

#navcol-1 {
  /* background: #f1f1f1; */
  background: #fff;
}

#input-group {
}

#navcol-1 ul {
  padding: 8px 18px;
  display: flex;
  justify-content: space-between;
}
#navcol-1 ul li {
  background: #ddd;
  width: 49.5%;
  margin: 4px 0;
  border-radius: 8px;
}
#navcol-1 ul li a {
  text-align: center;
}

.list-group-item:first-child {
  margin-bottom: 6px;
  border-style: none;
}

#card-ex {
}

.btn-modify {
  margin: 2px;
  width: 100%;
}

@media (max-width:768px) {
  #bottom-wrapper {
    width: 100%;
  }
}

@media (max-width:575px) {
  #headerTop {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
  }
}

@media (max-width:575px) {
  #area-alert-mb {
    margin-top: 38px;
  }
}
